.tokenCard {
    width: 12rem;
    height: 16rem;
    background-color: #27272a;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


