@use '@example/styles/shared.module.scss';

.walletConnectHeader {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0.4rem;
}

.walletDisc {
    padding:0.7rem;
    background-color: #2d3748; // bg-gray-800
    border-radius: 0.375rem; // rounded-md
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #4a5568; // bg-gray-700
    }
}
.walletDetails {
    padding:0.7rem;
    background-color: #2d3748; // bg-gray-800
    border-radius: 0.375rem; // rounded-md
    font-weight: 700;
    color: white;
    cursor: pointer;
    display:flex;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #4a5568; // bg-gray-700
    }
}

.grid {
    display: grid;
    gap: 1rem; // gap-y-4
    grid-template-columns: 1fr;
    align-items: center;
}
