@use '@example/styles/shared.module.scss';

.walletApiKeyContainer {
    overflow-y: auto;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.apiKey{
    padding:0.7rem;
    background-color: #2d3748; // bg-gray-800
    border-radius: 0.375rem; // rounded-md
    font-weight: 700;
    color: white;
    cursor: pointer;
    display:center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #4a5568; // bg-gray-700
    }
}
// ModalStyles.scss
.modal {
    padding: 20px;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    background-color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
