.tokenImage {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: contain;
}

.tokenName {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
}

.tokenAmount {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 400;
}
