@use '@example/styles/shared.module.scss';
@use '@example/styles/mixins' as mix;

.modal {
    @include mix.modal();

    .main {
        max-width: 800px;

        @media (min-height: 768px) {
            top: 100px;
        }
        left: 5%;
        @media (min-width: 890px) {
            left: calc((100% - 800px) / 2);
        }
    }
}

.walletDetails {
    padding: 0.7rem;
    background-color: #2d3748; // bg-gray-800
    border-radius: 0.375rem; // rounded-md
    font-weight: 700;
    color: white;
    cursor: pointer;
    display: center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #4a5568; // bg-gray-700
    }
}

.rowSettings {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    .title {
        font-size: 1rem;
    }
    .value {
        font-size: 0.75rem;
    }
}
